In [1]:
1+1

2

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
print('hello world')

hello world

In [5]:
import yfinance as yf

In [6]:
yf.download('TQQQ')

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2010-02-11   0.406875   0.434896   0.405573   0.432552   0.420546    3456000
2010-02-12   0.420781   0.438073   0.418333   0.434323   0.422268    8601600
2010-02-16   0.444531   0.452188   0.437552   0.451146   0.438624    9619200
2010-02-17   0.457188   0.458906   0.450313   0.458802   0.446068   19180800
2010-02-18   0.458333   0.470260   0.455573   0.467500   0.454524   38860800
...               ...        ...        ...        ...        ...        ...
2024-04-10  58.360001  59.279999  58.060001  58.930000  58.930000  101040300
2024-04-11  59.610001  62.060001  58.680000  61.700001  61.700001   73465600
2024-04-12  59.880001  60.349998  58.119999  58.720001  58.720001   86015900
2024-04-15  60.200001  60.230000  55.439999  55.770000  55.770000  101828100
2024-04-16  55.689999  56.810001  55.240002  55.779999  55.779999   81487800

[3568 rows x 6 columns]